.SideBar{
    height: 100%;
    background-color: black;
    position: absolute;
    right: 0px;
    z-index: 9;
    width: 85px;
    .help{
        position: absolute;
        bottom: 55%;
        width: 125px;
        left: -16px;
        font-size: 24px;
        cursor: pointer;
        -ms-transform: rotate(90deg); /* IE 9 */
        transform: rotate(90deg);
    }
    .list{
        position: absolute;
        bottom: 10px;
        right: 25px;
        li{
        list-style: none;
        font-size: 24px;
        text-align: center;
        }
    }
}

@media screen and (max-width: 576px){
    .SideBar{
        display: none !important;
    }
}