.midDiv{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: white;
    color: black;
   .textService{
       font-size: 60px;
       line-height: 70px;
       font-weight: 400;
   }
}