.midDiv {
  padding-top: 100px;
  background-color: white;
  color: black;
  .FAQ{
    .faq-body{
      padding-left: 20px !important;
      background-color: transparent !important;
      padding-right: 20px !important;
    }
  }
  .values{
    span{
      font-size: 70px;
      color: #1A1A1A;
      line-height: 112px;
    }
  }
  .textFirst{
font-size: 30px;
  }
  .img1{
    img{
       width: 438px;
       height: 438px;
    }
  }
  .img2{
    img{
       width: 553px;
       height: 351px;
    }
  }
  .LastSection{background: #F1F1F1;}
}
